:root {
  --color3: #404040;
}
.main {
  min-width: 40vw;
  min-height: 30vh;

  display: flex;
  flex-direction: column;

  border-radius: 0.5em;

  margin-top: 4em;

  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);

  transform: scale(0.9);
}

.pictureTextBoxContainer {
  display: flex;
  flex-direction: column;
}
.profilePicture {
  width: 3em;
  margin: 0.5em;
}

.profilePicture > img {
  width: 3.5em;
  height: 3.5em;

  border-radius: 100%;

  margin-right: auto;

  cursor: pointer;
}

.profilePicEmpty {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
  padding: 0.35vw;
  border-radius: 100%;
}
.textbox {
  max-width: 25vw;
  min-width: 25vw;

  min-height: 25vh;

  color: var(--color3);
  margin-left: 4em;
  margin-top: -1.4em;

  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%, 4% 12%); */
  /* border-radius: 0 1rem 1rem 0; */
  border-radius: 1rem;

  padding: 0.5em 1em;
}

.textbox > p {
  font-size: 1.2vw;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

.information {
  display: flex;
  justify-content: right;
  border-top: solid rgba(255, 255, 255, 0.5) 1px;
  margin: 1em;

  font-family: "Red Hat Display", sans-serif;
  font-size: 0.85em;
}
