.container {
  padding: 2em 0;
}

.titleHeader {
  display: flex;
  justify-content: center;

  font-family: "Red Hat Display", sans-serif;
  color: #361357;

  width: 100%;
}

.main {
  width: auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #d1d1d1;
  border-radius: 1em;
  margin: 1em;
  margin-top: -2em;
  padding: 0 10em;

  font-size: 1.6vw;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  line-height: 1.4em;
  word-spacing: 0.32em;
  color: #29103f;
}
.mainText {
  background: rgb(109, 76, 83);
  background: linear-gradient(
    220deg,
    rgba(228, 111, 136, 0.479) 0%,
    rgba(64, 189, 143, 0.568) 100%
  );
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 2em;
}

.socialMedia {
  background: rgb(109, 76, 83);
  background: linear-gradient(
    220deg,
    rgba(228, 111, 136, 0.479) 0%,
    rgba(64, 189, 143, 0.568) 100%
  );
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 1em;
}
.socialMedia > a {
  font-weight: bold;
}

.socialMediaList {
  list-style: none;
}
